
<!-- UPDATE FOR LOGGED IN -->




<div class="nav" id="bottom_nav">
  <div class="fl">
    <div class="click" id="clicked"> 
    <button type="button" id="menu">
      <h1>CLICK. GO.</h1>
    </button>
    </div>
  </div>
  <div class="ftwo">
    <div class="email">
      <p>email</p>
    </div>
    <div class="pw">
      <p>password</p>
    </div>
  </div>
  <div class="fthree">
    <div class="login">
      <h4>LOG IN</h4>
    </div>
      <p id="memba">remember</p>
    <div class="remember">
    </div>
  </div>
  <div class="ffour">
    <div class="you">
      <h4><%= link_to "YOU",   '#' %></h4>
      <h4><%= link_to "ABOUT",   '#' %></h4>
    </div>
    <div class="about">
    </div>
  </div>
  <div class="fr">
    <div class="signup">
      <button type="button">
        <h1>SIGN UP</h1>
      </button>
    </div>
  </div>
</div>




<!-- PREV CONTENT -->
<!-- <footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  logo link
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>


      </ul>
    </nav>
  </div>
</header> -->