<div class="struct" id="bottom">
      <div class="nav" id="bottom_nav">
        <div class="fl">
          <div class="click" id="clicked"> 
          <button type="button" id="menu">
            <h1>CLICK. GO.</h1>
          </button>
          </div>
        </div>
        <div class="ftwo">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'email' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'pw' %>
        </div>
        <div class="fthree">
            <%= f.submit "Log in", class: "login" %>
            <%= f.label :remember_me, class: "remember" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>
          <% end %>
        </div>
        <div class="ffour">
          <div class="you">
            <h4><%= link_to "YOU",   '#' %></h4>
          </div>
          <div class="about">
            <h4><%= link_to "ABOUT",   '#' %></h4>
          </div>
        </div>
        <div class="fr">
          <div class="signup">
            <button type="button">
              <h1>SIGN UP</h1>
            </button>
          </div>
        </div>
      </div>
    </div>
 
